
.section::-webkit-scrollbar {
    width: 8px; 
    height: 12px;
  }
  .section::-webkit-scrollbar-track {
    background: #f4f4f4; 
    border-radius: 10px; 
  }
  
  .section::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }