body {
  padding: 0;
  margin: 0;
}
.welcome-page {
  width: 100%;
}
.welcome-left .welcome-image {
  width: 100% !important;
  object-fit: cover !important;
}
.welcome-left {
  position: relative;
}
.welcome-left-text {
  position: absolute;
  font-size: 32px;
  color: white;
  top: 160px;
  left: 0;
  text-align: center;
  padding: 30px;
}
.welcome-right-content {
  width: 90%;
  margin: auto;
}
.welcome-right-content h1 {
  font-size: 40px;
  font-weight: 600;
  width: 60%;
  margin: 30px auto;
  text-align: center;
}

/* Google and apple link  */
.welcome-links {
  display: flex;
  flex-direction: column;
}
.welcome-links .welcome-right-link {
  display: flex;
  gap: 10px;
  border: 1px solid #e3e9ee;
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
}
.welcome-links .welcome-right-link:hover {
  background-color: #e3e9ee;
}

/* Or */
.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0 10px;
  font-size: 14px;
  color: #666;
  font-weight: bold;
}

/* Form Inputs */
.welcome-form {
  margin-top: 30px;
}
.welcome-form input,
button {
  border: 1px solid #e3e9ee;
  padding: 10px;
  width: 95%;
  border-radius: 8px;
  margin-bottom: 20px;
}
.welcome-form button {
  background: linear-gradient(#9a77ff, #735ffa);
  color: white;
  transition: 0.3s ease;
  width: 100%;
  border-radius: 20px;
}
label {
  text-align: left !important;
}
.policy {
  text-align: center;
}

@media screen and (min-width: 1120px) {
  /* body{
    overflow: hidden !important;
  } */
  .welcome-page {
    display: flex;
    align-items: center;
    
  }
  .welcome-left{
    width: 50%;
    padding: 8px;
  }
  .welcome-left .welcome-image{
    height: 98vh !important;
    border-radius: 30px !important;
  }
  .welcome-left-text {
    top: 280px;
    width: 60%;
    left: 100px;
  }
  .welcome-right{
width: 50%;
  }
  .welcome-right-content{
    width: 60%;
    margin: auto;
  }
}
