body {
  padding: 0;
  margin: 0;
}
.signin-page {
  width: 100%;
  margin-top: 50px;
}
.welcome-left .welcome-image {
  width: 100% !important;
  object-fit: cover !important;
}
.welcome-left {
  position: relative;
  display: none;
}
.welcome-left-text {
  position: absolute;
  font-size: 32px;
  color: white;
  top: 160px;
  left: 0;
  text-align: center;
  padding: 30px;
}
/* Style the pagination container */
.splide__pagination {
  display: flex !important;
  justify-content: center;
  gap: 10px;
  background-color: transparent !important;
  visibility: visible !important;
}
.splide__pagination__page {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.splide__pagination__page.is-active {
  background-color: white !important;
  color: white !important;
  transform: scale(1.2);
}

.welcome-right{
  margin-top: 100px ;
}
.welcome-right-content {
  width: 352px !important;
  margin: auto;
}
.welcome-right-content h1 {
  font-size: 40px;
  font-weight: 600;
  width: 60%;
  margin: 30px auto;
  text-align: center;
}

/* Google and apple link  */
.welcome-links {
  display: flex;
  flex-direction: column;
}
.welcome-links .welcome-right-link {
  display: flex;
  gap: 10px;
  border: 1px solid #e3e9ee;
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
  font-size: 16px;
  font-weight: 600;
}
.welcome-links .welcome-right-link:hover {
  background-color: #e3e9ee;
}

/* Or */
.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0 10px;
  font-size: 14px;
  color: #666;
  font-weight: bold;
}

/* Form Inputs */
.sigin-form {
  margin-top: 30px;
}
.sigin-form input,
button {
  border: 1px solid #e3e9ee;
  padding: 10px;
  width: 95%;
  border-radius: 8px;
  margin-bottom: 20px;
}
.sigin-form button {
  background: linear-gradient(#9a77ff, #735ffa);
  color: white;
  transition: 0.3s ease;
  width: 100%;
  border-radius: 20px;
}
label {
  text-align: left !important;
}
@media screen and (min-width: 600px) {
  body {
    overflow: hidden;
  }
  .signin-page {
    display: flex;
    align-items: center;
    margin-top: 0;
    gap: 30px;
  }
  .welcome-left .welcome-image {
    height: 98vh !important;
    border-radius: 30px !important;
  }
  .welcome-left {
    display: block;
    width: 50%;
    padding: 8px;
  }
  .welcome-left-text {
    top: 280px;
    /* width: 60%; */
    left: 10px;
  }
  .welcome-right{
    margin: 0;
  }
}

@media screen and (min-width: 1120px) {
  body {
    overflow: hidden;
  }
  .signin-page {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  .welcome-left {
    width: 50%;
    padding: 8px;
  }
  .welcome-left .welcome-image {
    height: 98vh !important;
    border-radius: 30px !important;
  }
  .welcome-left-text {
    top: 250px;
    width: 60%;
    left: 140px;
  }
  .welcome-right {
    width: 50%;
    margin: 0;
  }
  .welcome-right-content {
    width: 60%;
    margin: auto;
  }
}
