body {
  padding: 0;
  margin: 0;
}
.vectron-image {
  width: 100%;
  background-size: cover;
  height: 90vh;
}
.onboarding-left{
  display: none;
}
.onboarding-right-content {
  width: 80%;
  margin: 200px auto;
  text-align: center;
}
.onboarding-btn {
  display: flex;
  flex-direction: column;
}
.onboarding-right-content h1 {
  font-size: 40px;
  font-weight: 600;
}
.onboarding-btn button {
  width: 231px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  padding: 14px;
  border: 2px solid #e3e9ee;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-width: 600px) {
  body {
    overflow: hidden;
  }
  .onboarding-container {
    display: flex;
    align-items: center;
  }
  .onboarding-left {
    display: block;
    width: 55%;
    background-size: cover;
  }
  .vectron-image {
    height: 100vh;
  }
}

@media screen and (min-width: 1120px) {
  body {
    overflow: hidden;
  }
  .onboarding-container {
    display: flex;
  }
  .onboarding-left {
    width: 50%;
    background-size: cover;
  }
  .vectron-image {
    height: 100vh;
  }
  .onboarding-right {
    width: 30%;
    margin: auto;
  }
  .onboarding-right-content {
    margin: 0 auto;
  }
}
