body {
  padding: 0;
  margin: 0;
}
.chat-container {
  display: flex;
  margin-top: 50px;
}
.chat-response {
  position: absolute;
  top: 400px;
  left: 100px;
}
.side-chat-container {
  display: none;
}

/* Side AI Styling */
.ai-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ai-img {
  margin-bottom: 10px;
}
/* Side Bar Chat Styling */
.new-chat-btn {
  width: 200px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
  margin-bottom: 10px;
}
.prev-cat-one {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.see-more-btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: 600;
}
.side-third-content button {
  outline: none;
  border: none;
  background-color: white;
  font-weight: 500;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  width: 30px;
  font-size: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 80px;
}
.other-option-one {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: -10px;
}
.side-second-content {
  margin-top: 20px;
}
.side-third-content {
  background-color: #e3cbff;
  top: 10px;
  position: relative;
  padding: 10px 20px;
  border-radius: 15px;
}
.upgrade {
  background-color: #331bd7;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  padding: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.follow-us {
  text-align: center;
  font-weight: 500;
}

/* Feed section styling */
.feed-chat {
  position: fixed;
  bottom: 20px;
  left: 50px;
}
.chat-form {
  display: flex;
  gap: 5px;
  border: 1px solid #c391ff;
  border-radius: 8px;
  padding: 8px;
}
.chat-form input,
button {
  border: none;
  outline: none;
}
.chat-form input {
  width: 220px;
}

/* powerai */
.powerai-bg {
  width: 100% !important;
  margin-left: 0;
  background-size: cover;
  position: relative;
}
.powerai-container {
  position: absolute;
  background-color: white;
  border: 1px 1px solid #e3e9ee;
  z-index: 99;
  left: 50%;
  top: 36%;
  border-radius: 10px 10px 0 0;
  width: 90%;
  transform: translate(-50%, -40%);
}
.powerofAi-content {
  padding: 20px;
}
.powerai-header {
  text-align: center;
}
.powerai-header h1 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: -10px;
}
.powerai-header p {
  font-size: 18px;
  font-weight: 400;
  color: #7c878e;
}
.powerai-card-head {
  display: flex;
  gap: 20px;
  color: #181b1f;
  background-color: #e3e9ee;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}
.powerai-cards {
  margin: auto;
}
.powerai-cards p {
  color: #7c878e;
  font-size: 15px;
  font-weight: 400;
}
.powerai-card-head span {
  width: 136px;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}
.card-chat-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards-info-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
  transition: 0.4s ease;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e3e9ee;
  cursor: pointer;
}
.cards-info-content:hover {
  box-shadow: 0px 16px 16px -4px #0000001a;
}
.cards-info-content .direction {
  gap: 10px;
  display: flex;
  align-items: center;
}
.cards-info-content .direction p {
  font-size: 16px;
}
.cards-info {
  position: absolute;
}
/* Tablet view */
@media screen and (min-width: 600px) {
  .chat-container {
    justify-content: space-between;
    padding: 0 10px;
  }
  .chat-form input{
    width: 400px;
  }
  .powerai-bg {
    width: 72% !important;
    position: absolute;
    left: 0;
  }
  .powerai-container {
    left: 36%;
    width: 65%;
    top: 30%;
  }
  .powerai-cards {
    width: 80%;
  }
  .side-chat-container {
    display: block;
  }
}

/* Web View */
@media screen and (min-width: 1120px) {
  body {
    overflow: hidden;
  }
  .chat-form input {
    width: 995px;
  }
  .side-chat-container {
    display: block;
  }
  .chat-container {
    justify-content: space-between;
    padding: 0 10px;
  }

  /* Power AI */
  .powerai-bg {
    position: absolute;
    left: 0;
    width: 83% !important;
  }
  .powerai-container {
    top: 28%;
    left: 41.5%;
    width: 78%;
  }
  .powerai-cards {
    width: 50%;
  }
  .powerai-header h1 {
    font-size: 48px;
  }
  .cards-info {
    width: 49%;
  }
  .cards-info-content .direction {
    gap: 20px;
  }
  /*  */
}
