.nav-content{
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 8px 30px;
    border-radius: 20px;
    text-align: center;
    z-index: 99;
    border: 1px solid #E3E9EE;
    background-color: transparent;
}
.nav-link{
    text-decoration: none;
    color: #393E44;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}