body {
  padding: 0;
  margin: 0;
}
.welcome-page {
  width: 100%;
  margin-top: 30px;
}
.welcome-left{
  display: none;
  /* position: relative; */
}
.welcome-left .welcome-image {
  width: 100% !important;
  object-fit: cover !important;
  background-repeat: no-repeat !important;
}
/* Style the pagination container */
.splide__pagination {
  display: flex !important;
  justify-content: center;
  gap: 10px;
  background-color: transparent !important;
  visibility: visible !important;
}
.splide__pagination__page {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.splide__pagination__page.is-active {
  background-color: white !important;
  color: white !important;
  transform: scale(1.2);
}

.welcome-left-text {
  position: absolute;
  font-size: 32px;
  color: white;
  top: 160px;
  left: 0;
  text-align: center;
  padding: 30px;
}
.welcome-right{
margin-top: 90px;
}
.welcome-right-content {
  width: 352px !important;
  margin: auto;
}
.welcome-right-content h1 {
  font-size: 40px;
  font-weight: 600;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

/* Google and apple link  */
.welcome-links {
  display: flex;
  flex-direction: column;
}
.welcome-links .welcome-right-link {
  display: flex;
  gap: 10px;
  border: 1px solid #e3e9ee;
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s ease;
}
.welcome-links .welcome-right-link:hover {
  background-color: #e3e9ee;
}

/* Or */
.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0 10px;
  font-size: 14px;
  color: #666;
  font-weight: bold;
}

/* Form Inputs */
.welcome-form {
  margin-top: 30px;
}
.welcome-form input,
button {
  border: 1px solid #e3e9ee;
  padding: 10px;
  width: 95%;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.welcome-form button {
  background: linear-gradient(#9a77ff, #735ffa);
  color: white;
  transition: 0.3s ease;
  width: 100%;
  border-radius: 20px;
}
.welcome-form label {
  text-align: left !important;
  color: #7c878e;
}
.policy {
  text-align: center;
  color: #7c878e;
}
@media screen and (min-width: 600px) {
  /* body {
    overflow: hidden;
  } */
  .welcome-page {
    display: flex;
    align-items: center;
    margin-top: 0;
    gap: 30px;
  }
  .welcome-left .welcome-image {
    height: 100vh !important;
    border-radius: 30px !important;
  }
  .welcome-left {
    width: 50%;
    padding: 8px;
    display: block;
    position: relative;
  }
  .welcome-left-text {
    top: 250px !important;
    /* width: 60%; */
    /* left: 80px; */
  }
  .policy{
    margin-top: -5px;
  }
}

@media screen and (min-width: 1120px) {
  /* body {
    overflow: hidden;
  } */
  .welcome-page {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  .welcome-left {
    width: 50%;
    padding: 0 8px;
    position: relative;
    top: -24px;
  }
  .welcome-left .welcome-image {
    height: 96vh !important;
/* position: absolute;
    top: 0; */
    border-radius: 30px !important;
  }
  .welcome-left-text {
    /* top: 300px; */
    width: 70%;
    left: 100px;
  }
  .welcome-right {
    width: 50%;
    margin-top: 40px;
  }
  .welcome-right-content {
    width: 60%;
    margin: auto;
  }
}
