body {
  padding: 0;
  margin: 0;
}
.vectron-image {
  width: 100%;
  background-size: cover;
  height: 90vh;
}
.vehicle-profile-left {
  display: none;
}
.vehicle-profile-right-content {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 0;
}
.vehicle-profile-right-content h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.vehicle-profile-right {
  width: 100%;
  margin: auto;
}

.vehicle-form-content {
  width: 100%;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
  
}

.vehicle-form-content::-webkit-scrollbar {
  width: 12px;
}
.vehicle-form-content::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #9a77ff, #1e3a8a);
  border-radius: 4px;
}
.vehicle-form-content::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #1e3a8a, #593dff);
}
.vehicle-form-content::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 4px;
}

.vehicle-form-content label {
  margin-bottom: 8px !important;
  display: block;
  text-align: left;
  color: #7c878e;
  font-size: 14px;
}
.vehicle-form-content input {
  width: 100%;
  padding: 12px;
  border: 2px solid #e3e9ee;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  font-size: 14px;
}

.error-message,
.hint-message {
  color: #ff0000cc;
  margin-top: -6px;
}

@media screen and (min-width: 600px) {
  body {
    overflow: hidden;
  }
  .vehicle-profile-container {
    display: flex;
  }
  .vehicle-profile-left {
    width: 100%;
    display: block;
  }
  .vectron-image {
    background-size: cover;
    height: 105vh;
    width: 100%;
  }
}
@media screen and (min-width: 1120px) {
  body {
    overflow: hidden;
  }
  .vehicle-profile-container {
    display: flex;
  }
  .vehicle-profile-left {
    width: 100%;
    display: block;
  }
  .vectron-image {
    background-size: cover;
    height: 105vh;
    width: 100%;
  }
  .vehicle-profile-right-content {
    width: 352px;
    margin: 0 auto;
  }
}
